Mathématiques/03 - Fonctions usuelles/cossin.png
Mathématiques/03 - Fonctions usuelles/cercle.png
Mathématiques/03 - Fonctions usuelles/graphe_logexp.png
Mathématiques/03 - Fonctions usuelles/graphe_puiss.png
Mathématiques/04 - Fonctions de la variable réelle/derivees_usuelles.png
